debug_screenshots/



.idea/workspace.xml
.venv
.idea/
**/__pycache__/


**/.log
**/.pyc

dist/
build/
*.pyc
.idea/


fk it ocd on builder kinda seems impossible lol
lets make it hard corded with pic lol